@import './base.css';

#app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

#app > div {
  grid-column: 1 / -1;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
